*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------------navbar----------------------*/
.cartTotal{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -40%;
  right: -40%;
  background-color: #ab7a5f;
}

.shoppingCart{
  position: relative;
}

.logo{
  max-width: 175px;
}

.logo img{
  width: 100%;
}

.links a{
  border-bottom: 2px solid white;
}
nav .links a:hover{
  border-bottom: 2px solid #ab7a5f;
}