*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------------navbar----------------------*/
.cartTotal{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -40%;
  right: -40%;
  background-color: #ab7a5f;
}

.shoppingCart{
  position: relative;
}

.logo{
  max-width: 175px;
}

.logo img{
  width: 100%;
}

.links a{
  border-bottom: 2px solid white;
}
nav .links a:hover{
  border-bottom: 2px solid #ab7a5f;
}

/*------------------HEADER----------------------*/

header{

}
.img-container{
  position: relative;
  /* border: solid; */
  max-width: 558px;
  min-height: 550px;
}

.img-container::before{
  content: "";
  position: absolute;
  width: 10%;
  height: 80%;
  background: #DECBC0;
  bottom: 0%;
  left: 13%;
  border-radius: 10px;
 
}


.header-img1{
  width: 440px;
  height: 550px;
  position:absolute;
  right: 0;
}
.header-img2{
  width: 250px;
  height:165.25px ;
  position:absolute;
  bottom: 0;
  left: 0;
}

header h1{
  color: #102A42;
  font-weight: 700;
  font-size: 3rem;
}

header p{
  color: #617d98;
  font-size: 20px;
  line-height: 40px;
}

header button{
  background-color: #C5A491;
}

header button:hover{
  color: gray !important;
  background-color: #f7cbb1;
}

/* before div pembe ekran küçülünce kayıp?

/*---------------------CUSTOM---------------------*/
.custom{
  background-color: #EADED7;
}

/* .custom-inner{
  max-width: 70rem;
} */

.custom .card{
  background-color: #C5A491;
}

.icon{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.custom h4{
  font-size:1.5rem ;
  font-weight: 700;
}

.custom h3{
  color: #453227;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 1.6px;
}

.custom h3{
  color: #453227;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 1.6px;
}

@media (min-width:992px) {
  .custom-inner{
      transform: translateY(15%);
  }
}
/* cartlara max width?

/*-----------------------SUBSCRIPTION-------------------------------------------------------*/

.subs-inner h1{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.6px;
  color:#102a42;
}
.subs-inner button{
  background-color: #AB7A5F;
  color: #222;
  border: 2px solid #222;
  border-radius: 0 4px 4px 0;
  padding: 8px 16px;
  transition: all 0.4s ease-in;
}
.subs-inner button:hover{
  color: #fff;
}
.subs-inner input{
  border: 2px solid #222;
  border-radius:  4px 0 0 4px ;
  padding: 8px 16px;
  border-right: none;
}
.subs-inner p{
  color:#617d98;
}

/*-----------------------FOOTER-------------------------------------------------------*/
footer{
  background-color: #222;
  color: #fff;
}

footer span{
  color: #AB7A5F;
}